.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background: rgba(0,0,0,.35);
  backdrop-filter: blur(8px);
  z-index: 10;
}

.logo {
  height: 160px;
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #d3b06d;
}

@media(max-width: 900px) {
  .nav {
    display: none;
  }
}
